* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

html,
body {
    width: 100vw;
    height: 100vh;
}

.container {

    /* width: 250px; */
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    /* position: relative; */
    background-color: skyblue;
    /* height: 250px; */
}

.container img {
    /* height: 100%;
    width: 100%; */
    /* background: black; */
    margin: 20px 440px;
    /* padding: 25px; */
    border: 2px solid red;
    text-align: center;
    display: flex;
    /* background-repeat: no-repeat; */
    /* align-items: center;
    justify-content: center; */
}

.container h1 {
    text-align: center
}

#social-icons {
    display: flex;
    background-color: skyblue;
}